@tailwind base;
@tailwind components;
@tailwind utilities;


.mic-button {
    transition: transform 0.3s ease, color 0.3s ease;
  }
  
  .mic-button:hover {
    transform: scale(1.1); /* Slightly increase size on hover */
  }
  
  .mic-button:disabled {
    opacity: 0.5; /* Make the button look disabled when it's inactive */
  }

  .sound-waves {
    position: absolute;
    top: -20px;  /* Adjust this value to place it above the mic */
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    justify-content: space-evenly;
    width: 100px;
  }
  
  .wave {
    width: 10px;
    height: 10px;
    background-color: #ff4081; /* Pink color */
    border-radius: 50%;
    animation: waveAnimation 1s infinite ease-in-out;
  }
  
  .wave:nth-child(2) {
    animation-delay: 0.1s;
  }
  
  .wave:nth-child(3) {
    animation-delay: 0.2s;
  }
  
  @keyframes waveAnimation {
    0% {
      height: 10px;
      opacity: 0.7;
    }
    50% {
      height: 20px;
      opacity: 1;
    }
    100% {
      height: 10px;
      opacity: 0.7;
    }
  }
  



  .section-header {
    /* margin-top: 20px; */
    font-weight: bold;
  }
  
  